.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.box1 {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: auto;
}

.box2 {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box1 input,
.box2 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.box1 button,.box2 button {
    padding: 10px;
    background-color:#ff0b0b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}