.caterow{
    display:flex;
    justify-content: center;
    gap:50px;
    padding:20px;
    overflow-x: auto;
}
.cateimage{
    width:160px;
    height:160px;
    border-radius: 100%;
    border: 3px solid #ff4757;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cateitems{
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-width: 120px;
    flex-shrink: 0;
    width:110px;
}