.checkout {
  padding: 40px;
  background-color: #f4f4f4;
  min-height: 130vh;
  display: flex;
  justify-content: center;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.3);
  max-width: 700px;
  width: 100%;
}

.container h2 {
  font-size: 26px;
  text-align: center;
}

.input label {
  font-size: 16px;
}

.input input {
  font-size: 16px;
  padding: 12px;
}

.btn {
  font-size: 18px;
  padding: 16px;
}

/* Tablet */
@media (min-width: 768px) and  (max-width: 1099px)  {
  .checkout {
    padding: 30px;
    min-height: 100vh;
  }

  .container {
    padding: 30px;
    max-width: 600px;
  }

  .container h2 {
    font-size: 24px;
  }

  .input label {
    font-size: 15px;
  }

  .input input {
    font-size: 15px;
    padding: 10px;
  }

  .btn {
    font-size: 17px;
    padding: 14px;
  }
}

/* Mobile */
@media (min-width:300px) and (max-width: 767px) {
  .checkout {
    padding: 15px;
    min-height: 100vh;
  }

  .container {
    padding: 20px;
    max-width: 100%;
  }

  .container h2 {
    font-size: 22px;
  }

  .input label {
    font-size: 14px;
  }

  .input input {
    font-size: 14px;
    padding: 10px;
  }

  .btn {
    font-size: 16px;
    padding: 12px;
    width: 100%; /* full width button for mobile */
  }

  .success {
    padding: 20px;
    border-radius: 12px;
  }

  .success h2 {
    font-size: 20px;
  }

  .success p {
    font-size: 14px;
  }
}
